<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.DepositDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.Deposit">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="credit" jdbcType="DECIMAL" property="credit" />
    <result column="debit" jdbcType="DECIMAL" property="debit" />
    <result column="deposit_type" jdbcType="INTEGER" property="depositType" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, modify_time, balance, credit, debit, deposit_type, member_id
  </sql>
  <select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deposit
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from deposit
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="save" keyProperty="id" parameterType="com.fit.entity.Deposit" useGeneratedKeys="true">
    insert into deposit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="debit != null">
        debit,
      </if>
      <if test="depositType != null">
        deposit_type,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=DECIMAL},
      </if>
      <if test="debit != null">
        #{debit,jdbcType=DECIMAL},
      </if>
      <if test="depositType != null">
        #{depositType,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.Deposit">
    update deposit
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=DECIMAL},
      </if>
      <if test="debit != null">
        debit = #{debit,jdbcType=DECIMAL},
      </if>
      <if test="depositType != null">
        deposit_type = #{depositType,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="createTime != null and createTime != ''">
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTime != null and modifyTime != ''">
         and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="balance != null and balance != ''">
         and balance = #{balance,jdbcType=DECIMAL}
      </if>
      <if test="credit != null and credit != ''">
         and credit = #{credit,jdbcType=DECIMAL}
      </if>
      <if test="debit != null and debit != ''">
         and debit = #{debit,jdbcType=DECIMAL}
      </if>
      <if test="depositType != null and depositType != ''">
         and deposit_type = #{depositType,jdbcType=INTEGER}
      </if>
      <if test="memberId != null and memberId != ''">
         and member_id = #{memberId,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.Deposit" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from deposit
    <include refid="Base_Where_List" />
    order by id desc 
	<if test="offset != null and limit != null">
	limit ${offset}, ${limit}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from deposit
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from deposit
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from deposit
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
</mapper>